* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
  overflow-x: hidden;
  background: #232323;
  /* outline: 1px solid green; */
}
body {
  font-family: "Noto Sans", sans-serif;
}
/* // mobile */
@media only screen and (max-width: 480px) {
  * {
    font-size: 6px;
  }
}

/* // tablet */
@media only screen and (min-width: 481px) and (max-width: 820px) {
}

/* // tablet portrait mode */
@media only screen and (min-width: 550px) and (max-width: 1024px) {
}
