* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
  overflow-x: hidden;
  background: #232323;
}
body {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 6px;
  }
}
